#From either JS or Python or Sh import and convert Variables to USE

ARANGO_IMPORT_TEMP_DIR=/temp/directory/to/download IMDB files #needs about 2GB of space
ARANGO_SERVER=server.name.or.ip
MOVIES_DATABASE_NAME=Movies #It should create this in your server, but change if for some reason you already have a DB called this 
MOVIES_DATABASE_USERNAME=Movies_DB_User_Name
MOVIES_PASSWORD=Movies_DB_Password
ARANGO_ROOTPASSWORD=Arango_Root_Password 
#The next 2 are for the Dash Server 
LOCALPORT=8050
LOCALHOST="127.0.0.1"
